<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeetendra Kashyap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
         body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
    </style>
</head>
<body>


<nav class="navbar is-black" role="navigation" aria-label="main navigation">


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="/">My Website</a>
        <a class="navbar-item" href="/blog">Blog's Home</a>
        <a class="navbar-item" href="https://forms.gle/hrZYe67P1n8YiSun9" target="_blank">Contact Me</a>
    </div>


  </div>
</nav>

 {% block content %}

 {% endblock content %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
     Jeetendra Kashyap © 2019
    </p>
  </div>
</footer>
</body>
</html>