{% extends "base.html" %}
{% block content %}
    <section class="hero is-light" style="margin-top: 20px">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to my blog
      </h1>
      <h2 class="subtitle">
        Here are my posts
      </h2>
    </div>
  </div>
</section>


<div class="container" style="margin-top: 100px; margin-bottom: 100px">

    {% for post in post_list %}
<div class="card">
  <header class="card-header">
      <a class="card-header-title" href="{% url 'post_detail' post.slug %}">{{ post.postName }}</a>

  </header>
  <div class="card-content">
    <div class="content">
      {{ post.content | slice:":200" }}
    </div>
  </div>

</div>
    {% endfor %}
</div>
{% endblock %}